.dark {
    --primary: #05a570;
    --background-page: #0d0a0a;
    --background-page-dark: rgb(0, 0, 0);
    --text-primary: #a4a4a4;

    --background-header: var(--background-page);
    --background-card: var(--background-page);

    --shiki-dark-bg: var(--background-page);
    --shiki-dark: var(--text-primary);

    img {
        filter: grayscale(1) invert(1)
    }
}