.dark {
    --primary: #05a570;
    --background-page: #333;
    --background-page-dark: #232323;
    --text-primary: #a4a4a4;

    --background-card: var(--background-page-dark);
    --background-header: var(--background-page-dark);

    --shiki-dark-bg: var(--background-page);
    --shiki-dark: var(--text-primary);

}