:root {
    color-scheme: only light;
    font-family: MiSans;

}


/* 监听操作系统主题模式 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-page);
        color: var(--text-primary);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background-page);
        color: var(--text-primary);
    }
}