:root {
    color-scheme: only light;
    font-family: MiSans;

    pre.shiki {
        line-height: 1.5;
        white-space: pre-wrap;
        word-break: break-word;
        overflow-x: auto;

        span {
            padding: 0 1.25px;
        }
    }
}


/* 监听操作系统主题模式 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-page);
        color: var(--text-primary);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background-page);
        color: var(--text-primary);
    }
}