:root {

    color-scheme: only light;

    --primary: #15af7c;

}






/* 监听操作系统主题模式 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background);
        color: var(--text-primary);
    }


}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background);
        color: var(--text-primary);
    }


}