:root {

    color-scheme: only light;

    --primary: #15af7c;

}

.light {
    --background: #effeff;
    --text-primary: #303030;
}

.dark {
    --background: #303030;
    --text-primary: #effeff;
}

.sephia {
    --background: #eff1e5;
    --text-primary: #505050;
}

/* 监听操作系统主题模式 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background);
        color: var(--text-primary);
    }


}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--background);
        color: var(--text-primary);
    }


}